asgiref==3.7.2
Django==4.2.7
django-htmx==1.17.0
django-stubs==4.2.6
django-stubs-ext==4.2.5
gunicorn==21.2.0
hiredis==2.2.3
packaging==23.2
Pillow==10.1.0
psycopg==3.1.12
psycopg-binary==3.1.12
redis==5.0.1
setuptools==68.2.2
sqlparse==0.4.4
supervisor==4.2.5
types-pytz==2023.3.1.1
types-PyYAML==6.0.12.12
typing_extensions==4.8.0
