{% load htmx_csrf_token %}

<div
    id="team-header"
    class="flex flex-row gap-4 relative"
>
    <h1 class="group flex-1 text-green-800 text-3xl font-bold flex flex-row justify-start items-center gap-2">
        {% if request.selected_project.can_create_team %}
            {% if renaming|default:False %}
                <input
                    name="team-name"
                    id="team-name-input"
                    value="{{ team.name }}"
                    class="bg-transparent border-transparent border-0 border-b text-3xl p-0 m-0 outline-none focus:border-b-green-800 transition"
                    size={{ team.name|length }}
                    oninput="this.size = this.value.length"
                    onfocus="var temp_value=this.value; this.value=''; this.value=temp_value;"
                    autofocus
                >
                <button
                    class="md:opacity-0 group-focus-within:opacity-100 group-hover:opacity-100 h-8 w-8 rounded-full inline-flex justify-center items-center text-lg text-cyan-700 bg-cyan-700 bg-opacity-0 hover:bg-opacity-30 transition"
                    hx-put="{% url 'projects:rename_team' team.id %}"
                    hx-swap="outerHTML"
                    hx-target="#project-header"
                    hx-include="#project-name-input"
                    hx-trigger="click, keydown[key=='Enter'] from:#project-name-input"
                    {% htmx_csrf_token %}
                    title="Rename Team"
                >
                    <i class="fa-solid fa-floppy-disk"></i>
                </button>
            {% else %}
                {{ team.name }}
                <button
                    class="md:opacity-0 group-focus-within:opacity-100 group-hover:opacity-100 h-8 w-8 rounded-full inline-flex justify-center items-center text-lg text-cyan-700 bg-cyan-700 bg-opacity-0 hover:bg-opacity-30 transition"
                    hx-get="{% url 'projects:rename_team' team.id %}"
                    hx-swap="outerHTML"
                    hx-target="#team-header"
                    title="Rename Team"
                >
                    <i class="fa-solid fa-pen"></i>
                </button>
            {% endif %}
        {% else %}
            {{ team.name }}
        {% endif %}
    </h1>
    {% if request.selected_project.can_create_team %}
        <div class="flex flex-row gap-4 justify-center items-center text-center min-w-[5rem] w-1/12 absolute right-4 top-4">
            <button
                class="text-lg w-8 h-8 rounded-full text-red-700 hover:text-red-800 bg-red-800 bg-opacity-5 hover:bg-opacity-30 transition"
                hx-delete="{% url 'projects:team' team.id %}"
                hx-confirm-swal="Are you sure you want to delete this team?"
                hx-confirm-swal-icon="warning"
                hx-swap="none"
                {% htmx_csrf_token %}
                title="Delete Team"
            >
                <i class="fa-solid fa-trash"></i>
            </button>
            <button
                hx-get="{% url 'projects:assign_team_member' team.id %}"
                hx-target="#assign-team-member-dialog"
                hx-swap="innerHTML"
                class="text-lg w-8 h-8 rounded-full text-green-700 hover:text-green-800 bg-green-800 bg-opacity-5 hover:bg-opacity-30 transition"
                title="Assign Member"
            >
                <i class="fa-solid fa-user-plus"></i>
            </button>
        </div>
    {% endif %}
</div>
