<div
    hx-get="{% url 'users:notifications_counter' %}"
    hx-target="this"
    hx-swap="outerHTML"
    {% if delay %}
        hx-trigger="every 30s, notification:updateCounter from:body"
    {% else %}
        hx-trigger="load"
    {% endif %}
    hx-vals='{"previous-count": "{{ count }}"}'

    {% if count %}
        class="w-4 h-4 absolute right-0 top-0 select-none"
    {% else %}
        class="hidden"
    {% endif %}
>
    <div class="absolute h-full w-full rounded-full bg-red-300 animate-ping z-0"></div>
    <span 
        class="absolute text-xs h-full w-full bg-red-500 text-white rounded-full flex justify-center items-center z-10"
    >{{ count_str }}</span>
</div>
