<dialog
    id="notification-list"
    hx-get="{% url 'users:notifications_list' %}"
    hx-target="this"
    hx-swap="afterbegin"
    hx-trigger="notification:updateList from:body"
    hx-vals='js:{"first-id": getFirstNotificationId()}'

    class="ignore-styles absolute z-50 open:flex flex-col outline-none rounded-lg border-gray-700 border w-[70vw] md:w-96 translate-x-[calc(-100%+6.65rem)] translate-y-[1.4rem] h-[50vh] overflow-y-scroll cursor-auto"
></dialog>

<script>
    function getFirstNotificationId() {
        const notification = document.querySelector(
            '#notification-list > [data-notification-id]:first-child'
        );

        if (!notification) return '';

        const id = notification.getAttribute('data-notification-id');
        return id || '';
    }
</script>

<script type="module">
    const dialog = document.querySelector('#notification-list');
    const notificationButton = dialog.parentElement;

    function closeDialogKeydown(e) {
        if (e.key === 'Escape') {
            dialog.close();
            document.body.removeEventListener('click', closeDialogClick);
            document.body.removeEventListener('keydown', closeDialogKeydown);
        }
    }

    function closeDialogClick(e) {
        if (
            e.target == notificationButton ||
            notificationButton.contains(e.target)
        ) {
            return;
        }
        
        dialog.close();
        document.body.removeEventListener('click', closeDialogClick);
        document.body.removeEventListener('keydown', closeDialogKeydown);
    }

    function toggleNotificationList(e) {
        if (
            e.target == dialog ||
            e.target.closest('dialog') == dialog
        ) {
            return;
        }

        if (dialog.open) {
            dialog.close();
            document.body.removeEventListener('keydown', closeDialogKeydown);
            document.body.removeEventListener('click', closeDialogClick);
        } else {
            dialog.show();
            document.body.addEventListener('keydown', closeDialogKeydown);
            document.body.addEventListener('click', closeDialogClick);
        }
    }
    notificationButton.addEventListener('click', toggleNotificationList);
</script>
