{% load static htmx_csrf_token %}

<link rel="stylesheet" href="{% static 'vendor/quilljs/quill.snow.css' %}">
<script src="{% static 'vendor/quilljs/quill.min.js' %}"></script>
<script>
    toolbarOptions = [
        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
        ['blockquote', 'code-block'],

        [{ 'header': 1 }, { 'header': 2 }],               // custom button values
        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
        [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
        [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
        [{ 'direction': 'rtl' }],                         // text direction

        [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

        [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
        [{ 'font': [] }],
        [{ 'align': [] }],

        ['image'],                                        // image

        ['clean'],                                        // remove formatting button
    ];
    quillOptions =  {
        theme: 'snow',
        modules: {
            toolbar: toolbarOptions
        },
    };
</script>

<dialog
    id="assign-user-dialog"
    class="w-[90vw] md:w-[40vw] overflow-hidden h-60"
></dialog>

<dialog
    id="assign-team-dialog"
    class="w-[90vw] md:w-[40vw] overflow-hidden h-60"
></dialog>

<div
    {% block container_classes %} class="grid grid-cols-1 md:grid-cols-[1fr_15rem] gap-4 w-full h-full" {% endblock %}
>
    <div class="flex flex-col gap-4 md:overflow-y-auto mr-[-1rem] pr-4">
        <div
            id="issue-header"
            class="flex flex-row gap-4 relative rounded-xl bg-white w-full p-4"
        >
            <h1 class="group flex-1 text-green-800 text-3xl font-bold flex flex-row justify-start items-center gap-2">
                {% block issue_header %}
                    {% if issue.created_by == request.user or request.selected_project.can_rename_issues %}
                        {% if renaming|default:False %}
                            <input
                                name="issue-title"
                                id="issue-title-input"
                                value="{{ issue.title }}"
                                class="bg-transparent border-transparent border-0 border-b text-3xl p-0 m-0 outline-none focus:border-b-green-800 transition"
                                size={{ issue.title|length }}
                                oninput="this.size = this.value.length"
                                onfocus="var temp_value=this.value; this.value=''; this.value=temp_value;"
                                autofocus
                            >
                            <button
                                class="md:opacity-0 group-focus-within:opacity-100 group-hover:opacity-100 h-8 w-8 rounded-full inline-flex justify-center items-center text-lg text-cyan-700 bg-cyan-700 bg-opacity-0 hover:bg-opacity-30 transition"
                                hx-put="{% url 'issues:rename' issue.number %}"
                                hx-swap="outerHTML"
                                hx-target="#issue-header"
                                hx-select="#issue-header"
                                hx-include="#issue-title-input"
                                hx-trigger="click, keydown[key=='Enter'] from:#issue-title-input"
                                {% htmx_csrf_token %}
                                title="Rename Issue"
                            >
                                <i class="fa-solid fa-floppy-disk"></i>
                            </button>
                        {% else %}
                            {{ issue.title }}
                            <button
                                class="md:opacity-0 group-focus-within:opacity-100 group-hover:opacity-100 h-8 w-8 rounded-full inline-flex justify-center items-center text-lg text-cyan-700 bg-cyan-700 bg-opacity-0 hover:bg-opacity-30 transition"
                                hx-get="{% url 'issues:rename' issue.number %}"
                                hx-swap="outerHTML"
                                hx-target="#issue-header"
                                hx-select="#issue-header"
                                title="Rename Issue"
                            >
                                <i class="fa-solid fa-pen"></i>
                            </button>
                        {% endif %}
                    {% else %}
                        {{ issue.title }}
                    {% endif %}
                {% endblock %}
            </h1>
        </div>

        {% block change_history %}
            {% for change in history %}
                {% include 'issues/change.html' with oob=False %}
            {% endfor %}
        {% endblock %}

        {% block new_comment %}
            <div id="new-comment-container" class="flex flex-col relative rounded-xl bg-white w-full p-4 min-h-[30rem]">
                <h2 class="text-green-800 font-bold text-lg">Add comment</h2>
                <div id="new-comment-editor"></div>

                <div class="flex flex-row justify-end mt-4 gap-2 md:gap-4">
                    {% if issue.created_by == request.user or request.selected_project.can_change_issue_status %}
                        {% if issue.status == 1 %}
                            <button
                                class="bg-cyan-800 hover:bg-cyan-700 transition text-white text-base md:text-xl font-bold px-2 md:px-8 py-1 rounded-lg"
                                onclick="triggerCommentSubmit(2);"
                            >Mark as done</button>
                            <button
                                class="bg-red-800 hover:bg-red-700 transition text-white text-base md:text-xl font-bold px-2 md:px-8 py-1 rounded-lg"
                                onclick="triggerCommentSubmit(3);"
                            >Mark as closed</button>
                        {% else %}
                            <button
                                class="bg-cyan-800 hover:bg-cyan-700 transition text-white text-base md:text-xl font-bold px-2 md:px-8 py-1 rounded-lg"
                                onclick="triggerCommentSubmit(1);"
                            >Reopen</button>
                        {% endif %}
                    {% endif %}
                    <button
                        class="bg-green-800 hover:bg-green-700 transition text-white text-lg md:text-xl font-bold px-2 md:px-8 py-1 rounded-lg"
                        onclick="triggerCommentSubmit();"
                    >Comment</button>
                </div>
                <form
                    id="new-comment-form"
                    hx-post="{% url 'issues:comment' issue.number %}"
                    hx-trigger="issues:createNewComment from:body"
                    hx-vals="js:{comment: getCommentContent(), status: commentStatus}"
                >
                    {% csrf_token %}
                </form>
            </div>

            <script defer>
                commentQuill = null;
                commentStatus = null;

                function setupCommentQuill() {
                    commentQuill = new Quill('#new-comment-editor', quillOptions);
                }

                cqInterval = null;
                cqInterval = setInterval(() => {
                    if (window.Quill != undefined) {
                        clearInterval(cqInterval);
                        setupCommentQuill();
                    }
                }, window.Quill == undefined ? 50 : 0)

                function getCommentContent() {
                    return commentQuill.getContents();
                }

                function triggerCommentSubmit(status = null) {
                    const text = commentQuill.getText();
                    const length = commentQuill.getLength();

                    if ((text === '' || text === '\n') && length <= 1) {
                        swal.fire({
                            icon: 'error',
                            title: "The comment can't be empty",
                            showConfirmButton: true,
                            confirmButtonText: "Ok",
                            heightAuto: false,
                        });
                        return;
                    }

                    commentStatus = status;
                    document.body.dispatchEvent(new Event('issues:createNewComment'));
                }
            </script>
        {% endblock %}
    </div>

    {% block issue_sidebar %}
        <div
            class="flex flex-col relative rounded-xl bg-white w-full p-4 md:overflow-y-auto"
        >
            <h3 class="text-center text-green-800 font-bold">Issue #{{ issue.number }}</h3>

            <p class="text-green-800 font-bold mt-2">Created by</p>
            <div class="flex flex-row items-center justify-start gap-2">
                <img
                  class="object-contain w-8 h-8 rounded-full overflow-hidden"
                  src="{% if issue.created_by.picture %}{{ issue.created_by.picture.url }}{% else %}{% static 'img/profile-placeholder.png' %}{% endif %}"
                  alt="Profile picture"
                />
                <p>{{ issue.created_by.get_name }}</p>
            </div>

            <p class="text-green-800 font-bold mt-2">Opened at</p>
            <p>{{ issue.created_at }}</p>

            <p class="text-green-800 font-bold mt-2">Status</p>
            <p id="issue-status-text">{{ issue.get_status_display }}</p>

            <p class="text-green-800 font-bold mt-2">Assigned users</p>
            {% for assignment in user_assignments %}
                <div class="flex flex-row items-center justify-start gap-2 {% if forloop.counter != 1 %} mt-1 {% endif %}">
                    <img
                      class="object-contain w-8 h-8 rounded-full overflow-hidden"
                      src="{% if assignment.user.picture %}{{ assignment.user.picture.url }}{% else %}{% static 'img/profile-placeholder.png' %}{% endif %}"
                      alt="Profile picture"
                    />
                    <p>{{ assignment.user.get_name }}</p>
                </div>
            {% empty %}
                <p>No users assigned yet.</p>
            {% endfor %}
            {% if issue.created_by == request.user or request.selected_project.can_assign_to_issue %}
                <div class="flex flex-row justify-end">
                    <button
                        type="button"
                        class="text-green-800 hover:text-green-700 transition"
                        hx-get="{% url 'issues:assign_user' issue.number %}"
                        hx-target="#assign-user-dialog"
                        hx-swap="innerHTML"
                    >Assign user</button>
                </div>
            {% endif %}

            <p class="text-green-800 font-bold mt-2">Assigned teams</p>
            {% for assignment in team_assignments %}
                <div class="flex flex-row items-center justify-start {% if forloop.counter != 1 %} mt-1 {% endif %}">
                    <p>{{ assignment.team.name }}</p>
                </div>
            {% empty %}
                <p>No teams assigned yet.</p>
            {% endfor %}
            {% if issue.created_by == request.user or request.selected_project.can_assign_to_issue %}
                <div class="flex flex-row justify-end">
                    <button
                        type="button"
                        class="text-green-800 hover:text-green-700 transition"
                        hx-get="{% url 'issues:assign_team' issue.number %}"
                        hx-target="#assign-team-dialog"
                        hx-swap="innerHTML"
                    >Assign team</button>
                </div>
            {% endif %}
        </div>
    {% endblock %}
</div> 

