{% extends 'issues/issue.html' %}
{% load i18n %}

{% block container_classes %} class="grid grid-cols-1 gap-4 w-full h-full" {% endblock %}

{% block issue_header %}
    <input
        name="title"
        id="issue-title-input"
        form="new-issue-form"
        value="New Issue Title"
        class="bg-transparent border-transparent border-0 border-b text-3xl w-full p-0 m-0 outline-none focus:border-b-green-800 transition"
        onfocus="var temp_value=this.value; this.value=''; this.value=temp_value;"
        required
        autofocus
    >
{% endblock %}

{% block change_history %} {% endblock %}

{% block new_comment %}
    <div class="flex flex-col relative rounded-xl bg-white w-full p-4 flex-1">
        <h2 class="text-green-800 font-bold text-lg">{% translate "Issue Description" %}</h2>
        <div id="description-editor"></div>
        <div class="flex flex-row justify-end mt-4">
            <button
                id="new-issue-submit-btn"
                class="bg-green-800 hover:bg-green-700 text-white text-xl font-bold px-8 py-2 rounded"
                onclick="triggerSubmit();"
            >{% translate "Save" %}</button>
        </div>
        <form
            id="new-issue-form"
            hx-post="{% url 'issues:new' %}"
            hx-trigger="issues:createNewIssue from:body"
            hx-include="#issue-title-input"
            hx-vals="js:{description: getDescriptionContent()}"
            hx-indicator="#new-issue-submit-btn"
        >
            {% csrf_token %}
        </form>
    </div>
    <script defer>
        descriptionQuill = null;

        function setupDescriptionQuill() {
            descriptionQuill = new Quill('#description-editor', quillOptions);
        }

        dqInterval = null;
        dqInterval = setInterval(() => {
            if (window.Quill != undefined) {
                clearInterval(dqInterval);
                setupDescriptionQuill();
            }
        }, window.Quill == undefined ? 50 : 0)

        function getDescriptionContent() {
            return descriptionQuill.getContents();
        }

        function triggerSubmit() {
            const text = descriptionQuill.getText();
            const length = descriptionQuill.getLength();

            if ((text === '' || text === '\n') && length <= 1) {
                swal.fire({
                    icon: 'error',
                    title: `{% translate "The issue description can't be empty" %}`,
                    showConfirmButton: true,
                    confirmButtonText: "Ok",
                    heightAuto: false,
                });
                return;
            }

            document.body.dispatchEvent(new Event('issues:createNewIssue'));
        }
    </script>
{% endblock %}

{% block issue_sidebar %} {% endblock %}
