{% load i18n %}

<h1>{% translate "Change Password" context "title" %}</h1>

<form
    hx-post="{% url 'users:change_password' %}"
    hx-swap="innerHTML"
    hx-target="closest dialog"
    class="flex flex-col gap-2 p-2"
    hx-indicator="find button[type=submit]"
>
    {% csrf_token %}

    <div class="flex flex-col">
        {{ form.old_password.label_tag }}
        {{ form.old_password }}
        {{ form.old_password.errors }}
    </div>
    <div class="flex flex-col">
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
        {{ form.new_password1.errors }}
    </div>
    <div class="flex flex-col">
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
        {{ form.new_password2.errors }}
    </div>

    <div class="flex flex-row justify-end gap-4">
        <button
            type="button"
            class="border-2 border-red-800 hover:border-red-700 text-red-800 hover:text-red-700 font-bold transition rounded py-2 px-8"
            onclick="this.closest('dialog').close();"
        >{% translate "Close" context "button" %}</button>
        <button
            type="submit"
            class="bg-green-800 hover:bg-green-700 text-white font-bold transition rounded py-2 px-8"
        >{% translate "Save" context "button" %}</button>
    </div>
</form>

