{% load htmx_csrf_token %}

<dialog
    id="change-password-dialog"
    class="w-[90vw] md:w-[40vw]"
></dialog>

<div
    id="profile-picture-card"
    class="rounded-xl bg-white overflow-hidden relative flex flex-col justify-center items-center gap-4 p-4"
>
    <label
        for="profile-picture"
        class="group w-36 h-36 md:w-[25vh] md:h-[25vh] max-w-full max-h-full flex justify-center items-center relative cursor-pointer"
    >
        {% include 'users/profile/picture-img.html' with oob=False %}
    </label>
    <input
        type="file"
        name="picture"
        id="profile-picture"
        accept="image/*"
        class="hidden"

        hx-post="{% url 'users:upload_picture' %}"
        hx-encoding="multipart/form-data"
        hx-trigger="change"
        hx-target="#profile-picture-img"
        hx-swap="outerHTML"
        {% htmx_csrf_token %}
    >
    <p
        id="profile-user-name"
        class="font-bold text-2xl"
    >{% if user.first_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ user.username }}{% endif %}</p>
</div>

