{% load set_title htmx_csrf_token %}
{% set_title 'Select a Project' %}

<dialog
    id="new-project-dialog"
    class="w-[90vw] md:w-[40vw]"
></dialog>

<div
    hx-get="{{ request.path }}?page={{ page_obj.number }}"
    hx-trigger="projects:updateList from:body"
    hx-target="this"
    hx-select="#project-selection-list"
    hx-swap="outerHTML"
    hx-disinherit="hx-select hx-get hx-target hx-trigger hx-swap"

    id="project-selection-list"
    class="rounded-xl bg-white w-full h-full flex flex-col gap-4 p-4 relative overflow-auto"
>
    <h1 class="text-green-800 text-2xl font-bold text-center">Projects</h1>
    <div class="text-2xl text-center min-w-[5rem] w-1/12 absolute right-4 top-4">
        <button
            hx-get="{% url 'projects:new_project' %}"
            hx-target="#new-project-dialog"
            hx-swap="innerHTML"
            class="w-8 h-8 rounded-full text-green-700 hover:text-green-800 bg-green-800 bg-opacity-5 hover:bg-opacity-30 transition"
            title="Create new project"
        >
            <i class="fa-solid fa-plus"></i>
        </button>
    </div>

    {% if page_obj %}
        <ul>
            {% for project in page_obj %}
                <li
                    class="group odd:bg-gray-50 hover:bg-gray-100 odd:hover:bg-gray-200 transition text-lg cursor-pointer"
                >
                    <a
                        class="flex flex-row py-2 pl-2 {% if request.selected_project.project.pk != project.pk %} border-transparent group-hover:border-b-green-700 {% else %} border-b-green-700 {% endif %} border-b-2  transition"
                        hx-put="{% url 'projects:select_project' %}?project_id={{ project.pk }}"
                        hx-swap="none"
                        {% htmx_csrf_token %}
                    >
                        <p class="flex-1 whitespace-nowrap overflow-hidden text-ellipsis">{{ project.name }}</p>
                        <p class="min-w-[5rem] w-1/12 text-green-700 text-center">
                            <i class="fa-solid fa-arrow-right"></i>
                        </p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    
        {% include 'partials/list/nav.html' with page=page_obj.number min=1 max=page_obj.paginator.num_pages %}
    {% else %}
        <div class="text-green-800 text-opacity-50 font-bold text-center flex-1 flex flex-col gap-4 justify-center items-center">
            <i class="fa-solid fa-diagram-project text-9xl md:text-[12rem]"></i>
            <p class="text-2xl md:text-4xl select-none">No projects found!</p>
            <p class="text-lg md:text-2xl select-none">You can create a new project or ask for your manager to invite you to their project.</p>
        </div>
    {% endif %}
</div>
